body{
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #0c0931;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
}
#judul{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #130f40;
}
form{
    padding: 20px 40px;
}
form label{
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
    gap: 10em;
    font-weight: 600;
}
form input{
    height: 30px;
    width: 350px;
    padding: 0px;
    font-size: 18px;
    outline: none;
    border: 1px solid black;
}
form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #1A237E;
    border-radius: 3px;
    border: 1px solid #3949AB;
}
form button:hover{
    background: #1325e5;
}
